
*{margin: 0;
padding: 0}

body {font-family: 'Abril Fatface', cursive;}

header {background-image: url(imagenes/jorjasmith.jpg);
background-size: cover;
background-position: center;
height: 500px;
width: 100%}


nav{overflow: auto}

nav ul { 
    list-style: none;
    width: 30%; 
    display: block;
    float: right;}  

nav li {
    float: left;
    position: relative;}

nav a {
    color: #ffffff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 25px}

nav li:hover a {
    color: #f2d8bf;}

header img { 
    width: 300px;
    margin: auto;
    display: block;
    padding-top: 100px;
  }  

#tour {
  background-color: #6da18a;
  height: 100%;  
 }

#tour div{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  height: 400px;

}

section .col {
  flex-basis: 300px;
  justify-content: center;
  text-align: center;
  border-right: 0.5px solid #333333; 
}

.col h3 {
  color: #333333; 
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
}

.col p {
  color: #333333;
  font-weight: 100;
  text-decoration: none;
}

.col a {
  color: #ffffff;
  text-decoration: none;
}

#video iframe{
 display: block;
 margin: auto;
 padding-top: 50px} 

#video {
  height: 600px;
  background-color: #f2d8bf;
}

#contacto {
height: 300px;
background-color: #6da18a;
}

section h2 {
  padding-top: 30px; 
  margin: auto;
  text-align: center;
  color: #333333; 
  font-weight: 200;
  font-size: 40px;
  }

form {
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form p {
  color: #333333; 
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  display: inline;
} 

.email{
  font-size: 14px;
  font-family: 'Abril Fatface', cursive;
  padding: 7px;
  margin: 10px
}

.submit-btn {
  font-size: 16px;
  font-family: 'Abril Fatface', cursive;
  color: #333333;
  border: solid 1px #333333;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #6da18a}

 .submit-btn:hover{
  background-color: #f2d8bf
 }

footer {
  height: 100px;
background-color: #6da18a}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center 
}

.socials img {width: 19px; 
   height:20px;
   padding: 6px;
   
}

.socials img:hover {
  transform:scale(1.5,1.5);
}